.imageContainer {
    display: flex;
    flex-wrap: wrap;
}

.image {
    height: 242px;
    margin: 4px;
    border-radius: 4px;
}

.image:hover {
    filter: drop-shadow(8px 8px 8px #a29e9e);
    cursor: pointer;
    height: 242.5px;
    scroll-behavior: smooth;
    
}

.open-img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(234, 234, 234);
}

button {
    position: fixed;
    right: 24px;
    top: 24px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    font-style: normal;
    border-radius: 52px;
    border: 1px solid transparent;
    font-family: cursive;
    font-weight: bold;
    filter: drop-shadow(6px 6px 6px #c8c8c8);
}

button:hover {
    filter: drop-shadow(4px 4px 4px #8b8989);
    background-color: rgb(219, 219, 219);
    height: 32px;
    width: 32px;
}

.d-none {
    display: none;
}

.openImage {
    position: fixed;
    object-fit: cover;
    top: 64px;
    right: 400px;
    height: 750px;
    width: 1100px;
    border-radius: 16px;
    filter: drop-shadow(32px 32px 32px #797676);
}

.button-arrow-right {
    position: fixed;
    top: 300px;
    right: 120px;
    height: 99px;
    width: 55px;
    filter: drop-shadow(6px 6px 6px #656565);
}

.button-arrow-left {
    position: fixed;
    top: 300px;
    left: 120px;
    height: 99px;
    width: 55px;
    filter: drop-shadow(6px 6px 6px #656565);

}

.button-arrow-right:hover {
    filter: drop-shadow(16px 16px 16px #494949);
    height: 116px;
    width: 68px;
    cursor: pointer;
}

.button-arrow-left:hover {
    filter: drop-shadow(16px 16px 16px #494949);
    height: 116px;
    width: 68px;
    cursor: pointer;
}